* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-image: url('bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  color: #333;
}

header {
  display: flex;
  top: 0%;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: rgb(199, 199, 199);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: orange;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Ford's Folly";
}

.role {
  font-size: 0.9rem;
  color: gray;
}

nav a {
  margin-left: 30px;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  position: relative;
}

nav a:not(:last-child)::after {
  content: "|";
  margin-left: 15px;
  color: #000000;
}

footer {
  display: flex;
  align-items: justify;
  padding: 20px 50px;
  background-color: rgb(199, 199, 199);
  left: 0%;
  bottom: 0%;
  width: 100%;
  position: fixed;
  flex-direction: column;
  justify-content: flex-end;
  
}

nav.foot {
  margin-left: 10px;

}

.ph {
  font-family: "Edu TAS Beginner";
  font-size: 1.1rem;
  margin-left: 5%;
  line-height: 1.6;
}

.gmail {
  font-family: "Edu TAS Beginner";
  font-size: 1.1rem;
  margin-left: 14.8%;
  line-height: 1.6;
}

.link1 {
  font-family: "Edu TAS Beginner";
  font-size: 1.1rem;
  margin-left: 13%;
  line-height: 1.6;
}

.by {
  font-family: "Edu TAS Beginner";
  font-size: 1.1rem;
  margin-left: 21.7%;
  line-height: 1.6;
}

.sec1 {
  display: flex;
  align-items: flex-start;
  gap: 110px;
  padding: 30px 30px 30px 30px;
}

.part1 {
  flex: 1;
  padding: 40px 50px;
  line-height: 3;
}

p {
    font-family: "Poppins";
    line-height: 1.7;
    font-size: 15pt;
    text-align: justify;
}

h2 {
    font-family: "Cambria";
    font-size: 20pt;
}

i {
    font-family: "Poppins";
}

.part2 {
  width: 450px;
  height: 250px;
  border-radius: 7%;
}

.part2 img {
  padding: 60px 50px;
  max-width: 100%;
  height: auto;
  object-fit: fill;
  border-radius: 7%;
}

.sec2 {
  display: flex;
  align-items: flex-start;
  gap: 110px;
  padding: 30px 30px 30px 30px;
}

.part3 {
  flex: 1;
  padding: 40px 50px;
  line-height: 3;
}
